@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/public/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("/public/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-wrap: pretty;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  text-wrap: pretty;
}

p {
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 10px;
  text-wrap: pretty;
  color: rgb(47, 47, 47);
  text-align: justify;
}
ul {
  color: rgb(47, 47, 47);
}

ol {
  color: rgb(47, 47, 47);
  margin-left: 15px;
}

li {
  margin-bottom: 10px;
  line-height: 180%;
}

img {
  object-fit: cover;
}

@media (max-width: 768px) {
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
  }
  ul {
    font-size: 14px;
  }
  ol {
    font-size: 14px;
  }
}
